@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap");

/* #region shared */
* {
  margin: 0;
  padding: 0;
}

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-semi-bold {
  font-weight: 600;
}

.txt-size-15 {
  font-size: 0.93rem;
}

.txt-size-20 {
  font-size: 1.25rem;
}

.txt-size-24 {
  font-size: 1.5rem;
}

.txt-size-42 {
  font-size: 2.62rem;
}

.txt-size-46 {
  font-size: 2.87rem;
}

.txt-size-56 {
  font-size: 3.5rem;
}

.txt-orange {
  color: orange;
}

.txt-sky-blue {
  color: skyblue;
}

.disply-flex {
  display: flex;
}

.disply-grid {
  display: grid;
}

.section-container {
  padding: 60px 0;
  margin: 0 140px;
}

.section-title {
  text-align: center;
  /* margin-top: 60px; */
  margin-bottom: 80px;
}

/* #endregion shared */

/* #region main */
main {
  background-image: url("../assets/bg.png"),
    linear-gradient(0deg, rgb(248, 224, 180), white);
  /* max-width: 1439px; */
  margin: 0 auto;
}
/* #endregion main */

/* #region banner */
.banner-container {
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 640px;
  height: 183px;
}

.banner-img {
  max-width: 100%;
}
.banner-description {
  padding: 24px 0;
}

.banner-btn {
  padding: 10px 47px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
}

/* #endregion banner */

/* #region Standard Curriculum */
.curriculum-card-container {
  justify-content: space-around;
}
.curriculum-card {
  max-width: 367.8px;
  max-height: 476.78px;
  padding: 52px 40px 53px;
  text-align: center;
}

.curriculum-card-bg1 {
  border: 1px solid #def5ff;
  border-radius: 18.86px;
  background-color: #ffffff;
  box-shadow: inset 0px 50px 50px #def5ff;
}

.curriculum-card-bg1 h4 {
  color: #64c8ff;
}

.curriculum-card-bg2 {
  border: 1px solid #fff4dc;
  border-radius: 18.86px;
  background-color: #ffffff;
  box-shadow: inset 0px 50px 50px #fff4dc;
}

.curriculum-card-bg2 h4 {
  color: #f0aa00;
}

.curriculum-card-bg3 {
  border: 1px solid #f2e8ff;
  border-radius: 18.86px;
  background-color: #ffffff;
  box-shadow: inset 0px 50px 50px #f2e8ff;
}

.curriculum-card-bg1 h4 {
  color: #8700ff;
}

.curriculum-card-title {
  margin-top: 32px;
}

.curriculum-card-description {
  margin: 33px 0px;
  line-height: 28.3px;
}

.curriculum-card-btn {
  line-height: 28.3px;
}

.lider-btn-container {
  justify-content: center;
  gap: 10px;
  padding-top: 80px;
  /* padding-bottom: 60px; */
}

.slider-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: orange;
  justify-content: center;
  align-items: center;
  color: white;
}
/* #endregion Standard Curriculum */

/* #region our stories */

.story-card {
  max-width: 290px;
  max-height: 301px;
  border-radius: 16px;
  background-color: white;
  position: relative;
}

.story-card-img {
  max-width: 100%;
  max-height: 183px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.story-card-description {
  padding: 38px 38px 28px 38px;
  line-height: 28.8px;
}

.story-card-date {
  border-radius: 48px;
  padding: 9px 18px;
  max-width: 174px;
  position: absolute;
  top: 157px;
  left: 37px;
}

.story-card-date-bg1 {
  background-color: #95b226;
}

.story1 {
  grid-area: story1;

  max-width: 540.27px;
  max-height: 630.52px;
}

.story1-img {
  max-width: 540px;
  max-height: 337px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.story1-card-date {
  border-radius: 48px;
  padding: 15px 18px;
  max-width: 174px;
  position: absolute;
  top: 314px;
  left: 37px;
  background-color: #3cd8e8;
}

.story1-card-titile {
  padding-top: 61.51px;
  padding-left: 38.35px;
  padding-right: 99.43px;
}

.story2 {
  grid-area: story2;
}
.story3 {
  grid-area: story3;
}
.story4 {
  grid-area: story4;
}
.story5 {
  grid-area: story5;
}

.disply-grid-container {
  gap: 20px;
  grid-template-areas:
    "story1 story2 story3"
    "story1 story4 story5";
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.story-container-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.story-container-btn {
  padding: 10px 61px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
}
/* #endregion our stories */

/* #region footer */
footer {
  background-color: rgba(1, 172, 253, 1);
}
.footer-container {
  padding-left: 140px;
  padding-right: 228.09px;
  padding-top: 123px;
  padding-bottom: 174px;
  color: white;
  justify-content: space-between;
  align-items: start;
}

.footer-logo {
  align-items: center;
  gap: 11px;
  height: 81.65px;
  width: 299.71px;
  margin-bottom: 35.35px;
}

.footer-logo img {
  width: 82.9px;
  height: 81.65px;
  opacity: 100%;
}

.footer-logo-description {
  width: 399.02px;
  margin-left: 7px;
}

.footer-nav-title {
  margin-bottom: 32px;
}
.footer-nav-items {
  list-style: none;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-items a {
  text-decoration: none;
  color: white;
}

.footer-social-media-title {
  margin-bottom: 32px;
}

.footer-social-media img {
  margin-right: 10.15px;
}
/* #endregion footer */

/* #region media queries */

@media screen and (max-width: 576px) {
  .txt-size-10-sx {
    font-size: 0.62rem;
  }

  .txt-size-14-sx {
    font-size: 0.87rem;
  }

  .txt-size-16-sx {
    font-size: 1rem;
  }

  .txt-size-26-sx {
    font-size: 1.62rem;
  }

  .txt-size-32-sx {
    font-size: 2rem;
  }

  .txt-size-20-sx {
    font-size: 1.25rem;
  }
  .section-container {
    padding: 40px 0;
    margin: 0 16px;
  }

  .section-title {
    /* margin-top: 40px; */
    margin-bottom: 40px;
  }

  .banner-container {
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 357px;
    /* height: 725px; */
    text-align: center;
  }

  .curriculum-card-container {
    flex-direction: column;
    gap: 12px;
  }

  .curriculum-card {
    max-width: 357px;
    max-height: 321px;
    padding: 36px 28px;
  }

  .curriculum-card img {
    max-width: 92px;
    max-height: 92px;
  }

  .lider-btn-container {
    display: none;
  }

  .disply-grid-container {
    gap: 11.31px;
    grid-template-areas:
      "story2 story3"
      "story4 story5";
    /* grid-template-columns: 1fr 1fr; */
  }

  .story-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .story1 {
    display: none;
  }

  .story-card-date {
    top: 95px;
    right: 23px;
  }

  .story-card-description {
    padding: 25px 42px 19px 22px;
    line-height: 17.1px;
  }

  .story-container-btn-container {
    padding-top: 20px;
  }

  .story-container-btn {
    padding: 10px 37px;
  }

  .footer-container {
    margin: 0;
    padding: 65px 10px 60px;
    flex-direction: column;
    gap: 32px;
  }

  .footer-logo-description {
    width: 335px;
    margin: 0;
  }
}

/* #endregion media queries */
